{% extends '../base.html' %}
{% load static %}

<title>Все курсы</title>

{% block content %}
    <div class="row">
        {% for course in courses %}
            <div class="col-sm-4 mb-4">
                <div class="card border">
                    <img class="card-img-top noselect" src="{{ course.cover.url }}" style="height: 200px; width: auto; display: inline-block">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <a href="{{ course.title }}" class="btn btn-primary">Смотерть</a>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="col-sm-4 mb-4">
                <div class="card border">

                    <img class="card-img-top noselect" src="{% static 'assets/icons/plus.png' %}" style="height: 200px; width: auto; display: inline-block">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <a href="{{ course.title }}" class="btn btn-primary">Смотерть</a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}