{% extends '../base.html' %}
{% load static %}





{% block title %}
    {% if not request.GET.q %}
        Все курсы
    {% else %}
        Поиск: {{ request.GET.q }}
    {% endif %}
{% endblock %}




{% block content %}
<style>
.clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .row::after, .row::before {
        content: None !important;
    }
</style>



<!--Панелька с поиском-->
<div class="container-fluid" style="margin-top: -2rem;">
    <div class="search-box" style="margin-left: -1.5rem;">
        <form method="get" id="search-form" action="{% url 'course:all_courses' %}" style="margin-bottom: 0px;">
            <button class="btn-search" id="search-btn" type="submit">
                <i class="fa-solid fa-magnifying-glass" style="color: #4479D9;"></i>
            </button>
            <input type="text" class="input-search" id="search-input" name="q" placeholder="Поиск" value="{{ request.GET.q }}">
        </form>
    </div>

    <div style="display: inline-flex; justify-content: flex-end; width: 100%; height: 0.5rem; margin-top: -2.75rem;">
        <button type="button" class="btn btn-link" style=" color: #4479D9 !important; margin-right: -2rem;" onclick="window.location.href='https://www.google.com'">Добавить курс</button>
    </div>

    <hr class="border-primary my-4" style="width: 200%; margin: 0px 1rem 1rem -20% !important; border-color: #4479D9 !important">
</div>





<!--Карточки с курсами-->
<div class="container" style="margin: 0 !important; max-width: 100% !important; width: 100% !important; padding: 0 15px;">
    <div id="course-cards" class="justify-content-center align-items-start justify-content-between row d-flex">

        {% include 'course/cards.html' with courses=courses %}

    </div>
</div>
{% endblock %}






{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#cards-preloader').hide();
            var timer;

            $('#search-input').on('input', function() {
                clearTimeout(timer);
                timer = setTimeout(function() {
                    var formData = $('#search-form').serialize();

                    $.ajax({
                        type: 'GET',
                        url: $('#search-form').attr('action'),
                        data: formData,
                        success: function(response) {
                            $('#course-cards').html(response.html);
                            history.pushState({}, '', $('#search-form').attr('action') + '?' + formData);
                        }
                    });

                    }, 500);
            });
        });
    </script>
{% endblock %}