{% extends '../base.html' %}
{% load static %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content%}
<style>
    .modal-dialog-centered {
      min-height: 15rem !important;
      max-height: 15rem !important;
      display: flex !important;
      align-items: center !important;
    }
</style>
{% if user.is_staff %}
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Confirmation Required</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#confirmModal').modal('hide');">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Вы уверены, что хотите удалить курс "{{ course.title }}"?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#confirmModal').modal('hide');">Отмена</button>
            <button type="button" class="btn btn-primary" id="confirmBtn" onclick="DeleteCourse()">Подтвердить</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}

<div class="card-box align-left">
    {% with first_group=user.group.first %}
        {% if user.is_staff or first_group.name == 'lector'%}
            <h4 class="card-title mbr-fonts-style mbr-white mb-3 display-5">
                <strong>{{ course.title }}</strong>
                <span style="float: right; margin-top: 0;margin-right: 0;">
                    <button class="btn btn-link buttons" onclick="window.location.href = '{{ course.title }}/edit'">
                        <i class="fa-solid fa-pencil"></i>&ensp;<a><strong>Редактировать</strong></a>
                    </button>
                    {% if user.is_staff %}
                        <button class="btn btn-link buttons" onclick="$('#confirmModal').modal('show');"><i class="fa-solid fa-trash"></i>Удалить</button>
                    {% endif %}
                </span>
            </h4>
        {% endif %}
    {% endwith %}
    <p class="mbr-text mbr-fonts-style display-7">
        {% for block in course.blocks.all|dictsort:"order" %}
            <ul>
                {% if block.title %}
                <h6 class="card-title mbr-fonts-style mbr-white mb-3 display-5" style="margin-bottom: 0rem !important;">
                    {{ block.title }}
                </h6>
                {%endif%}

                {% for item in block.items.all|dictsort:"order" %}
                    {% if item.type == 'image' %}
                        <img src="{{ image.link }}" alt="{{ image.name }}">
                    {% elif item.type == 'text' %}
                        <ul>
                            <p>{{ item.name }}</p>
                        </ul>
                    {% else %}
                    <ul>
                        <img src="{% static 'assets/icons/' %}{{ item.type|add:'.png' }}" class="noselect" style="height: 15px; width: auto; display: inline-block">
                        <a href="{{ item.link }}" target="_blank" style="display: inline-block">
                            {{ item.name }}
                        </a>
                    </ul>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    </p>
</div>

<script>
function DeleteCourse() {
     window.location.href = '/course/{{ course.title }}/delete';
}
</script>




{% endblock %}
