{% extends '../base.html' %}
{% load static %}

{% block title %}
Редактирование: {{ course.title }}
{% endblock %}

{% block content%}
<style>
    .modal-dialog-centered {
      min-height: 15rem !important;
      max-height: 15rem !important;
      display: flex !important;
      align-items: center !important;
    }
</style>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog-centered modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirmation Required</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#confirmModal').modal('hide');">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить курс "{{ course.title }}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#confirmModal').modal('hide');">Отмена</button>
        <button type="button" class="btn btn-primary" id="confirmBtn" onclick="DeleteCourse()">Подтвердить</button>
      </div>
    </div>
  </div>
</div>



<div class="card-box align-left" id="allblocks">
    Название курса:
    <input type="text" onchange="course.title = $(this).val();console.log(course);" value="{{ course.title }}">
    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Курс скрыт
    <input class="form-check-input" style="margin-left: 0.7rem ;" onchange="course.hidden = !course.hidden" type="checkbox" value="" id="Visible" {% if course.hidden %} checked {% endif %}>
    <span style="float: right; margin-top: 0;margin-right: 0;">
        <button class="btn btn-link buttons" id="save-changes" onclick="updateCourse()" style="padding-top: 0 !important;">
            <i class="fa-solid fa-floppy-disk"></i>&ensp;<a><strong>Сохранить</strong></a>
        </button>
        <button class="btn btn-link buttons" style="padding-top: 0 !important;" onclick="$('#confirmModal').modal('show');">
            <i class="fa-solid fa-trash"></i>
            &ensp;Удалить
        </button>
    </span>
    {% for block in course.blocks.all|dictsort:"order" %}
        <ul class="border border-secondary p-3 mb-3 block" data-order="{{ block.order }}" >
            <input type="number" onchange="moveBlock(this)" class="order-input" data-order="{{ block.order }}" name="order" min="1" step="-1" value="{{ block.order }}" style="width: 3rem;">
            <input type="text" onchange="course.blocks[$(this).closest('.block').data('order') - 1].title = $(this).val();" value="{{ block.title }}">
            <button class="btn btn-link buttons delete-block" style="padding-top: 0 !important;">
                <i class="fa-solid fa-trash"></i>
                &ensp;Удалить
            </button>
            {% for item in block.items.all|dictsort:"order" %}
                {% if item.type == 'image' %}
                    <img src="{{ image.link }}" alt="{{ image.name }}">
                {% elif item.type == 'text' %}
                    <ul>
                        <p>{{ item.name }}</p>
                    </ul>
                {% else %}
                    <ul>
                        <img src="{% static 'assets/icons/' %}{{ item.type|add:'.png' }}" class="noselect" style="height: 15px; width: auto; display: inline-block">
                        <a href="{{ item.link }}" target="_blank" style="display: inline-block">
                            {{ item.name }}
                        </a>
                    </ul>
                {% endif %}
            {% endfor %}
            <ul border class="additem">
                    <button class="btn btn-link" onclick="addItem();">
                        <i class="fa-solid fa-plus"></i>
                    &ensp;Добавить
                </button>
            </ul>
        </ul>
    {% endfor %}
    <ul class="border border-secondary p-3 mb-3" id="addblock">
        <button class="btn btn-link" onclick="addBlock();">
            <i class="fa-solid fa-plus"></i>
            &ensp;Добавить блок
        </button>
    </ul>
</div>

<script>
    async function updateCourse() {
    console.log(JSON.stringify(course));
      try {
        const response = await fetch($(location).attr('href'), {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
          },
          body: JSON.stringify(course),
        });

        const data = await response.json();
        console.log(data);
        window.location.href = '/course/' + course.title;

      } catch (error) {
        console.error('Error:', error);
      }
    }

</script>


<script>
function DeleteCourse() {
     window.location.href = '/course/{{ course.title }}/delete';
}
</script>

<script>
    function moveBlock(input) {
      var block = $(input).closest('.block');
      var order = parseInt(block.attr('data-order'), 10);
      var newOrder = parseInt(input.value, 10);

      if (newOrder !== order) {
        var allBlocks = $('#allblocks');
        var blocks = allBlocks.children('.block');

        if (newOrder < 1 || newOrder > blocks.length) {
          input.value = order;
          return;
        }

        var minOrder = Math.min(newOrder, order);
        var maxOrder = Math.max(newOrder, order);

        blocks.each(function () {
          var currentOrder = parseInt($(this).attr('data-order'), 10);
          if (currentOrder >= minOrder && currentOrder <= maxOrder) {
            if ($(this).find('.order-input').is(input)) {
              course.blocks[order - 1].order = newOrder;
              $(this).attr('data-order', newOrder);
            } else if (newOrder < order) {
              course.blocks[currentOrder - 1].order = currentOrder + 1
              $(this).attr('data-order', currentOrder + 1);
              $(this).find('.order-input').val(currentOrder + 1);
            } else {
              course.blocks[currentOrder - 1].order = currentOrder - 1
              $(this).attr('data-order', currentOrder - 1);
              $(this).find('.order-input').val(currentOrder - 1);
            }
          }
        });

        if (newOrder < order) {
          block.insertBefore(blocks.eq(newOrder - 1));
        } else {
          block.insertAfter(blocks.eq(newOrder - 1));
        }
      }
      course.blocks.sort(function(a, b) {
            return a.order - b.order;
        });
    }

</script>
<script>
    $(document).ready(function() {
      $('.delete-block').each(function() {
        $(this).on('click', function() {
            var deletedOrder = getOrder($(this))
            console.log(deletedOrder)
            course.blocks.splice(deletedOrder - 1, 1);
            $(this).parent().remove();
            $('.block').each(function(index) {
              var order = $(this).data('order');

              if (order > deletedOrder) {
                $(this).data('order', order - 1);
              }
            });
            for
        });
      });
    });







</script>
<script>
    var course = JSON.parse('{{ courseJSON|safe }}');
    console.log(course)

    function getOrder(el) {
        return el.closest('.block').data('order')
    }


    function addBlock() {
        or = course.blocks.length + 1
        course.blocks.push({title: 'Новый блок ' + or, order: or, items: []});
        $('#addblock').before($newBlock(or));
    }

    function $newBlock(n){
        return $(`
         <ul class="border border-secondary p-3 mb-3 block" data-order="` + n + `" >
            <input type="number" onchange="moveBlock(this)" class="order-input" data-order="` + n + `" name="order" min="1" step="-1" value="` + n +`" style="width: 3rem;">
            <input type="text" onchange="course.blocks[getOrder($(this)) - 1].title = $(this).val();" value="Новый блок ` + n +`">
            <button class="btn btn-link buttons" style="padding-top: 0 !important;"><i class="fa-solid fa-trash"></i>&ensp;Удалить</button>
            <ul border>
                <a href="" target="_blank" style="display: inline-block">
                    <i class="fa-solid fa-plus"></i>
                    &ensp;Добавить ссылку
                </a>
            </ul>
        </ul>
        `);
        }

    function addItem(){
        var block = $(this).closest('.block');
        var order = parseInt(block.attr('data-order'), 10);
        or = course.blocks[order-1].items.length;
        course.blocks[order-1].items.push({});
        $(this).prev().after($newBlock(or));

    }

    function $newItem(n){
    return $(`<ul class="border border-secondary p-3 mb-3">
                <input type="text"  onchange="course.blocks[` + n + ` - 1].title = $(this).val();console.log(course);" value="Новый блок ` + n + `">
                <ul border>
                    <a href="{{ item.link }}" target="_blank" style="display: inline-block">
                        <i class="fa-solid fa-plus"></i>
                        &ensp;Добавить ссылку
                    </a>
                </ul>
            </ul>`);
    }

</script>


{% endblock %}
