{% load static %}

<html  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="">

    <title> {% block title %}{% endblock %}</title>

    <style>
        .noselect {
            user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        img {
            pointer-events: none;

        }
        .buttons {
        margin: auto 0 auto 0 !important;
        padding: auto 0 auto 0 !important;
    }

    </style>
    <style>
        {% block style %}{% endblock %}
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-grid@3.0.1/dist/grid.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.6/reboot.min.css" rel="stylesheet">


    <!--    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">-->

    <link rel="stylesheet" href="{% static 'assets//css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
    <link rel="preload" as="style" href="{% static 'assets/css/mbr-additional.css' %}"><link rel="stylesheet" href="{% static 'assets/css/mbr-additional.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/ca2fdc895f.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>
<body clsdd="cid-tDvXh3L8ej">




<section data-bs-version="5.1" class="menu menu1 cid-tDucEBOowu noselect" once="menu" id="menu1-0">


    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">

                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7 " href="https://mobiri.se">Система Электронного Образования</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">

                    <li class="nav-item"><a class="nav-link link text-white display-4" href="https://mobiri.se">Главная</a></li>
                    <li class="nav-item"><a class="nav-link link text-white display-4" href="/course">Курсы</a></li>



                    {% if request.user.is_authenticated %}
                      <li class="nav-item dropdown">
                        <a class="nav-link link text-white dropdown-toggle show display-4" href="https://mobiri.se" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">{{ request.user.short }}</a>
                        <div class="dropdown-menu show" aria-labelledby="dropdown-507" data-bs-popper="none">
                          <a class="text-white dropdown-item display-4" href="https://mobiri.se">Расписание</a>
                          <a class="text-white dropdown-item display-4" href="https://mobiri.se">Оценки</a>
                          <a class="text-white dropdown-item show display-4" href="#" aria-expanded="false" id="logout-link">Отчислиться</a>
                        </div>
                    </li>
                    {% else %}
                        <div class="navbar-buttons mbr-section-btn"><a class="btn btn-white display-4" href="https://mobiri.se">Login</a></div>

                    {% endif %}










                </ul>

            </div>
        </div>
    </nav>


</section>


<section data-bs-version="5.1" class="content15 cid-tDvXh3L8ej mbr-fullscreen" style="align-items: flex-start; min-height: calc(100vh - 60px);  "  id="content15-3">

    

    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-md-12 col-lg-12">
                <div class="card-wrapper border" style="padding-top: 2rem;">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>





</section>
    {% block scripts %}{% endblock %}



    <script>
      document.getElementById('logout-link').addEventListener('click', function(event) {
        event.preventDefault(); // prevent the default link behavior
        try {
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '{% url "logout" %}');
          xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          xhr.onload = function() {
            window.location.href = '/login/';
          };
          xhr.send();
        } catch (error) {}
      });
    </script>


    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
    <script src="{% static 'assets/ytplayer/index.js' %}"></script>
    <script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
    <script src="{% static 'assets/theme/js/script.js' %}"></script>

</body>
</html>