{% load static %}


<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">

  
  <title>Page 1</title>
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons2/mobirise2.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="{% static 'assets/mobirise/css/mbr-additional.css' %}"><link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">

  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="header6 cid-tDALuNxoPb mbr-fullscreen" id="header6-6">

    

    
    

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Direct Online Tutoring Access</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">Начни получать <strong>прямой доступ к онлайн-обучению </strong>уже сейчас.<br><em>Пролистайте вниз, чтобы получить пароль для ознакомления</em></p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-white display-4" href="/login">Вход</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features1 cid-tEKqHPAXAZ" id="features2-e">





    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-smile-face mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Студент группы А</strong><br>почта: stundent101@lms.edu<br>пароль: cneltyn101</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-sad-face mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Студент группы Б
</strong><div>почта: stundent102@lms.edu
</div><div>пароль: cneltyn102</div></h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-github mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Лектор
</strong>
<div>почта: lector@lms.edu
</div><div>пароль: ktrwbz</div></h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-android mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>Администратор
</strong>
                        <div>почта: admin@lms.edu
</div><div>пароль: Gjcnfdnt5</div></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section data-bs-version="5.1" class="timeline2 cid-tDAO3bMhOw" id="timeline2-a">

<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/ytplayer/index.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
  <script src="{% static 'assets/formoid/formoid.min.js' %}"></script>
  
  
</body>
</html>